.horizontalnav {
    background-color: #3498db; /* Blue color similar to the button */
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Align items vertically */
}

.horizontalnav ul {
    display: flex;
    padding: 0;
    margin: 0;
}

.horizontalnav ul li {
    list-style-type: none;
    margin: 5px 30px 5px 12px;
}

.horizontalnav ul li:hover {
    color: #2980b9; /* Darker shade of blue for hover effect */
}

.horizontalnav ul li button {
    background-color: #2980b9; /* Darker shade of blue */
    border: 2px solid #2980b9; /* Darker shade of blue for border */
    color: white;
    border-radius: 10px;
    padding: 10px 12px;
    font-size: 16px;
    font-weight: 200;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.horizontalnav ul li button:hover {
    background-color: white;
    color: #2980b9; /* Darker shade of blue for text color */
    border-color: #2980b9; /* Darker shade of blue for border */
}
